@use 'sass:math';
@use '../helpers/colors' as *;
@use '../helpers/keyframes' as *;

.ping {
  $size: 1.2rem;

  width: $size;
  height: $size;
  display: flex;

  position: absolute;
  top: -1 * math.div($size, 3.2);
  right: -1 * math.div($size, 3.2);

  &::before,
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $light-silver;
  }

  &::after {
    position: absolute;
    opacity: 0.7;
    animation: pingAnimation 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
}
