@use '../helpers/colors' as *;

.cta {
  width: 100%;
  position: relative;
  font-size: 1rem;
  background-color: $primary-color;
  color: #fff;
  opacity: 0.87;

  &:hover,
  &:focus {
    opacity: 1;
  }
}
