@use '../helpers/colors' as *;

.cta {
  width: 100%;
  position: relative;
  font-size: 1rem;
  background-color: $primary-color;
  color: #fff;

  &:hover,
  &:focus {
    background-color: darken($primary-color, 4);
  }
}
