@use '../helpers/colors' as *;
@use '../helpers/mixins' as *;

.hero {
  background-color: $hero-bg-color;
  margin-bottom: 15vh;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  padding-top: 1rem;

  &.fixed {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-top: 0;
    transition: background-color 0.2s ease-in-out;

    a {
      margin-left: 2rem;

      @include screen('large') {
        margin-left: 0;
      }
    }

    .logo {
      width: 6.5rem;
    }

    .navbar-links {
      @include screen('large') {
        justify-content: space-around;
      }
    }

    &.shrink .navbar-links {
      width: 100%;
      padding: 1.3rem 0;
    }

    + .content {
      padding: 9rem 0 2rem;
    }
  }

  @include screen('medium') {
    font-size: 0.85rem;
  }

  @include screen('large') {
    flex-direction: column;
  }
}

.navbar.fixed.shrink {
  background-color: rgba(58, 58, 58, 0.75);
  box-shadow: 0 0.125rem 0.3rem rgb(58 58 58 / 40%);
  backdrop-filter: saturate(180%) blur(2px);
}

.navbar.fixed.shrink .logo {
  width: 5.5rem;
}

.navbar a {
  /*logo line hight*/
  line-height: 1.2;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  margin: 0;
  padding: 2rem 0;

  @include screen('tiny') {
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  @include screen('medium') {
    width: 100%;
    padding-left: 0;
  }

  @include screen('larger') {
    margin-right: 0;
  }

  a {
    color: #fff;
    font-weight: 600;
    position: relative;

    &:not(.cta):before {
      content: '';
      height: 0.17rem;
      width: 0;
      position: absolute;
      background-color: $primary-color;
      bottom: 0.1rem;
    }

    &:hover::before {
      width: 100%;
    }
  }

  .cta {
    border-radius: 0.3rem;
    font-weight: 700;
    background-color: rgba(35, 118, 235, 0.7);
    padding: 0.15rem 0.5rem;
  }
}

.content {
  display: flex;
  padding: 5rem 0 2rem;

  @include screen('large') {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  color: #fff;
}

.intro p {
  font-size: 1.1em;
  letter-spacing: 0.3em;
  line-height: 2rem;
  margin: 0;
}

.intro h1 {
  font-size: 2.35em;
  line-height: 1.3;
  margin: 0 0 5rem;
  text-align: left;
  text-transform: uppercase;
  max-width: 67%;
}

.find__me__in p {
  font-size: 0.95em;
  font-family: 'Fira Code', sans-serif;
}

.find__me__in a {
  display: inline-flex;
  margin: 0.5rem;
}

.find__me__in a:hover {
  transform: translateY(-0.2rem);
}

.find__me__in a:first-of-type {
  margin-left: 0;
}

.projects-preview {
  position: relative;
  flex: 1;

  @include screen('large') {
    width: 100%;
    justify-content: space-evenly;
    margin-top: 1rem;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  a {
    position: absolute;
    transition-duration: 0.7s;

    @include screen('large') {
      position: static;
    }

    &:first-child {
      right: -100%;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
      left: 200%;

      @include screen('large') {
        transform: translateY(0);
      }
    }

    &:last-child {
      bottom: 0;
      right: -100%;
    }
    .project-thumbnail {
      border-radius: 0.6rem;
    }
  }
}

.hero .container > .cta {
  font-size: clamp(1rem, 3.5vw, 2rem);
  font-weight: 700;
  padding: 0.3rem 3rem;
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  margin: 1rem auto 2.5rem;
}

.heroCurve {
  position: absolute;
  left: 0;
  width: 100%;
}

.heroCurve svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 132px;
}

.heroCurve .shape-fill {
  fill: $hero-bg-color;
}
