@use '../helpers/colors' as *;

.projects-carousel {
  overflow: hidden;
  max-width: 90%;
  margin: 0 auto;
}

.tns-liveregion {
  display: none;
}

#tns1 > .tns-item {
  width: fit-content !important;
}

.tns-ovh {
  cursor: pointer;
}

.tns-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 3rem;
}

.projects {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project {
  border: 1px solid $light-silver;
  padding: 0.25rem;

  .options {
    display: flex;
    justify-content: space-between;

    .cta {
      flex: 1;
      text-align: center;
      text-transform: uppercase;

      &:last-child {
        background-color: $darker-silver;
      }
    }
  }
}

.latest-projects {
  .previous,
  .next {
    width: 1rem;
  }

  .previous {
    transform: rotate(180deg);
    margin-right: 2rem;
  }

  .next {
    margin-left: 2rem;
  }
}
