@use '../helpers/colors' as *;

.scroll__top {
  --size: 5vmax;

  width: clamp(1rem, var(--size), 5.75rem);
  height: clamp(1rem, var(--size), 5.75rem);
  border-radius: calc(var(--size) * 0.13);
  background-color: $primary-color;
  position: fixed;
  right: 2rem;
  bottom: 20rem;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;

  &.active {
    pointer-events: all;
    bottom: 2rem;
    opacity: 1;
  }

  &::after {
    --size: 5vmax;

    content: '⬆';
    display: block;
    height: 100%;
    font-size: calc(var(--size) / 2);
    color: #eaeaea;
  }

  &:hover {
    background-color: $light-silver;

    &::after {
      color: $primary-color;
    }
  }
}
