@use '../helpers/colors' as *;

.scroll__top {
  $size: 5vmax;
  cursor: pointer;
  width: $size;
  height: $size;
  max-width: 2.7rem;
  max-height: 2.7rem;
  border-radius: $size * 0.15;
  background-color: $primary-color;
  position: fixed;
  right: 2rem;
  pointer-events: none;
  opacity: 0;
  bottom: 20rem;

  &.active {
    pointer-events: all;
    bottom: 2rem;
    opacity: 1;
  }

  &::after {
    content: '⬆';
    content: '☝🏽';
    display: block;
    height: $size;
    font-size: $size * 0.5;
    color: $light-silver;
  }

  &:hover {
    background-color: $light-silver;

    &::after {
      color: $primary-color;
    }
  }
}
