@use '../helpers/colors' as *;
@use '../helpers/mixins' as *;

.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 10px;

  @include screen('large') {
    grid-template-columns: 1fr;
  }

  .plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $light-silver;
    width: 15rem;
    padding: 1rem;
    min-width: 27%;
    font-size: 1.05rem;
    border: 1px dashed $hero-bg-color;
    border-radius: 0.25rem;
    text-align: center;

    @include screen('large') {
      width: 15rem;
      width: clamp(15rem, 50%, 20rem);
    }

    &__title {
      font-size: 1.3rem;
    }

    &__features {
      list-style: none;
      margin: 0;
      padding: 0 0 1rem;
      line-height: 2.5;
    }
    &.recommended {
      margin-top: -2rem;

      @include screen('large') {
        margin-top: 0;
      }

      & > span {
        color: $primary-color;
        font-size: 2.3rem;
        font-weight: 700;
      }
    }

    & > span {
      font-size: 2.1em;
      font-weight: 600;

      & > small {
        font-size: 0.5em;
        font-weight: 400;
      }
    }
    & .cta {
      border: none;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
}
