/* General Rules Start */
:root {
  /* Variables */
  --bg-color: #eee;
  /* --hero-bg-color: linear-gradient(#08254e, #4070b4); */
  --hero-bg-color: #08254e;
  --primary-color: #2376eb;
  --light-silver: #eaeaea;
  --dark-silver: #aaaaaa;
  --darker-silver: #4d4d4d;

  /* Transitions */
  --transition-duration: 0.25s;
  --transition-style: ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body * {
  font-family: 'Cairo', sans-serif;
}

/* To make footer stick to bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.container {
  width: 95%;
  margin: auto;
}

button {
  cursor: pointer;
}

.project-thumbnail {
  width: 230px;
  height: 130px;
}

.sp {
  padding: 2rem 0;
}

.cta {
  background-color: var(--primary-color);
  color: #fff;
  opacity: 0.87;
}

.cta:hover,
.cta:focus {
  opacity: 1;
}

.upper {
  text-transform: uppercase;
}

.section__title {
  font-family: 'Fira Code', sans-serif;
  font-size: 1.3em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
}

/* Transition classes */
.cta,
.navbar-links a::before,
.navbar.fixed .logo,
.projects-preview a,
.find-me-in a,
.form__group,
.scroll__top,
.scroll__top::after {
  transition: all var(--transition-duration) var(--transition-style);
  -moz-transition: all var(--transition-duration) var(--transition-style);
  -o-transition: all var(--transition-duration) var(--transition-style);
  -webkit-transition: all var(--transition-duration) var(--transition-style);
}
/* General Rules END */

/* Hero Start */
.hero {
  background-color: var(--hero-bg-color);
  overflow: hidden;
  margin-bottom: 11vh;
}

.navbar {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  padding-top: 1rem;
}

.navbar.fixed {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 0;
  transition: background-color 0.2s ease-in-out;
}

.navbar.fixed .logo {
  width: 6.5rem;
}

.navbar.fixed.shrink {
  background-color: rgba(58, 58, 58, 0.75);
  box-shadow: 0 0.125rem 0.3rem rgb(58 58 58 / 40%);
  backdrop-filter: saturate(180%) blur(2px);
}

.navbar.fixed.shrink .logo {
  width: 5.5rem;
}

.navbar a {
  /*logo line hight*/
  line-height: 1.2;
}

.navbar.fixed a {
  margin-left: 2rem;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  margin: 0;
  padding: 2rem 0;
}

.navbar.fixed.shrink .navbar-links {
  padding: 1.3rem 0;
}

.navbar-links a {
  color: #fff;
  font-weight: 600;
  position: relative;
}

.navbar-links a:not(.cta):before {
  content: '';
  height: 0.17rem;
  width: 0;
  position: absolute;
  background-color: var(--primary-color);
  bottom: 0.1rem;
}

.navbar-links a:hover::before {
  width: 100%;
}

.navbar-links .cta {
  border-radius: 0.3rem;
  font-weight: 700;
  background-color: rgba(35, 118, 235, 0.7);
  padding: 0.15rem 0.5rem;
}

.content {
  display: flex;
  padding: 5rem 0 2rem;
}

.navbar.fixed + .content {
  padding: 9rem 0 2rem;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  color: #fff;
}

.intro p {
  font-size: 1.1em;
  letter-spacing: 0.3em;
  line-height: 2rem;
  margin: 0;
}

.intro h1 {
  font-size: 2.35em;
  line-height: 1.3;
  margin: 0 0 5rem;
  text-align: left;
  text-transform: uppercase;
  max-width: 67%;
}

.find-me-in p {
  font-size: 0.95em;
  font-family: 'Fira Code', sans-serif;
}

.find-me-in a {
  display: inline-flex;
  margin: 0.5rem;
}

.find-me-in a:hover {
  transform: translateY(-0.2rem);
}

.find-me-in a:first-of-type {
  margin-left: 0;
}

.projects-preview {
  position: relative;
  /* display: inline-flex; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-end; */
  /* gap: 0.5rem; */
  flex: 1;
}

.projects-preview a {
  position: absolute;
  transition-duration: 0.7s;
}

.projects-preview a:first-child {
  right: -100%;
}
.projects-preview a:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  left: 200%;
}
.projects-preview a:last-child {
  bottom: 0;
  right: -100%;
}
.projects-preview .project-thumbnail {
  border-radius: 0.6rem;
}

.hero .container > .cta {
  font-size: 1.3em;
  font-weight: 700;
  padding: 0.3rem 3rem;
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  margin: 1rem auto 2.5rem;
}

.heroCurve {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.heroCurve svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 132px;
}

.heroCurve .shape-fill {
  fill: var(--hero-bg-color);
}

/* Hero End */

/* Latest Projects Start */
.projects-carousel {
  overflow: hidden;
  max-width: 90%;
  margin: 0 auto;
}

.tns-liveregion {
  display: none;
}

#tns1 > .tns-item {
  width: fit-content !important;
}

.tns-ovh {
  cursor: pointer;
}

.tns-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 3rem;
}

.projects {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project {
  border: 1px solid var(--light-silver);
  padding: 0.25rem;
}

.project .options {
  display: flex;
  justify-content: space-between;
}

.project .options .cta {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
}

.project .options .cta:last-child {
  background-color: var(--darker-silver);
}

.latest-projects .previous,
.latest-projects .next {
  width: 1rem;
}

.latest-projects .previous {
  transform: rotate(180deg);
  margin-right: 2rem;
}

.latest-projects .next {
  margin-left: 2rem;
}

/* Latest Projects End */

/* What I do Start */
.plans {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 3rem;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--light-silver);
  width: 15rem;
  padding: 1rem;
  min-width: 27%;
  font-size: 1.05rem;
  border: 1px dashed var(--hero-bg-color);
  border-radius: 0.25rem;
  text-align: center;
}

.plan__title {
  font-size: 1.3rem;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0 0 1rem;
  line-height: 2.5;
}

.plan.recommended {
  margin-top: -1rem;
}

.plan.recommended > span {
  color: var(--primary-color);
  font-size: 2.3rem;
  font-weight: 700;
}

.plan > span {
  font-size: 2.1em;
  font-weight: 600;
}

.plan > span > small {
  font-size: 0.5em;
  font-weight: 400;
}

.plan .cta {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
/* What I do End */

/* Get In Touch Start */
.get-in-touch form {
  margin-top: 2rem;
  text-align: center;
}

.form__group {
  position: relative;
  display: block;
  margin-bottom: 2rem;
  width: 90%;
  margin: 0 auto 2rem;
  border: 1px solid var(--dark-silver);
  border-radius: 0.5rem;
  padding: 1rem 0 0;
}

.form__group input,
.form__group textarea {
  width: 100%;
  padding: 0.3rem 1rem 1rem;
  font-size: 1.2em;
  color: var(--darker-silver);
  background-color: transparent;
  border: none;
}

.form__group:focus-within {
  border-color: var(--darker-silver);
}

.form__group span {
  position: absolute;
  left: 1rem;
  top: -1.2rem;
  font-size: 1.2em;
  background-color: #eee;
  padding: 0 0.5rem;
  text-transform: capitalize;
  color: var(--dark-silver);
}

div.form__group:last-child,
.form__group.cta-btns {
  border: none;
}

.form__group .cta {
  cursor: pointer;
  padding: 0.3rem 3rem;
  border: none;
}

textarea {
  height: 10rem;
  resize: none;
}

.form__messages {
  display: flex;
  flex: 1;
  margin: 0.7em;
  padding: 0.7em;
}
.form__messages.succ {
  color: #1b6d2e;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}
.form__messages.fail {
  color: #9e212e;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}
.form__messages.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
/* Get In Touch End */

/* ScrollTop Strat */
.scroll__top {
  --size: 5vmax;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  max-width: 2.7rem;
  max-height: 2.7rem;
  border-radius: calc(var(--size) * 0.15);
  background-color: var(--primary-color);
  position: fixed;
  right: 2rem;
  pointer-events: none;
  opacity: 0;
  bottom: 20rem;
}
.scroll__top::after {
  content: '⬆';
  content: '☝🏽';
  display: block;
  height: var(--size);
  text-align: center;
  font-size: calc(var(--size) * 0.5);
  color: var(--light-silver);
}
.scroll__top:hover {
  background-color: var(--light-silver);
}
.scroll__top:hover::after {
  color: var(--primary-color);
}
.scroll__top.active {
  pointer-events: all;
  bottom: 2rem;
  opacity: 1;
}
/* ScrollTop End */
