@media (min-width: 1200px) {
  /* 1200 and going up */
  .container {
    width: 1024px;
  }
}

@media (max-width: 1000px) {
  .heroCurve {
    width: 120%;
  }
}

@media (max-width: 900px) {
  /* 900 and going down */
  .navbar-links {
    margin-right: 0;
  }
  .latest-projects .previous img {
    margin-right: 0.5rem;
  }

  .latest-projects .next img {
    margin-left: 0.5rem;
  }
}

@media (max-width: 700px) {
  .heroCurve {
    width: 170%;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar.fixed a {
    margin-left: 0;
  }

  .navbar-links {
    width: 100%;
    padding-left: 0;
  }

  .navbar.fixed .navbar-links {
    justify-content: space-around;
  }

  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .projects-preview {
    width: 100%;
    justify-content: space-evenly;
    margin-top: 1rem;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .projects-preview a {
    position: static;
  }

  .projects-preview a:nth-child(2) {
    transform: translateY(0);
  }

  /* .projects .project:not(:first-of-type, :nth-child(2)) {
    display: none;
  } */

  .form-group input,
  .form-group textarea {
    width: 100%;
  }

  .form-group span {
    left: 1rem;
  }
}

@media (max-width: 470px) {
  .heroCurve {
    width: 200%;
  }

  .navbar {
    font-size: 0.85rem;
  }
}

@media (max-width: 380px) {
  .navbar.fixed + .content {
    padding: 15rem 0 2rem;
  }

  .form-group .cta {
    margin-bottom: 1rem;
  }
}

@media (max-width: 280px) {
  .navbar-links {
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
}
