$transition-duration: 0.25s;
$transition-style: linear;

.cta,
.navbar-links a::before,
.navbar.fixed .logo,
.projects-preview a,
.find-me-in a,
.form__group,
.scroll__top,
.scroll__top::after {
  transition: all var($transition-duration) var($transition-style);
  // -moz-transition: all var($transition-duration) var($transition-style);
  // -o-transition: all var($transition-duration) var($transition-style);
  // -webkit-transition: all var($transition-duration) var($transition-style);
}
