$transition-duration: 0.25s;
$transition-style: linear;

.cta,
.navbar-links a::before,
.navbar.fixed .logo,
.projects-preview a,
.find__me__in a,
.form__group,
.scroll__top,
.scroll__top::after {
  transition: all $transition-duration $transition-style;
  -moz-transition: all $transition-duration $transition-style;
  -o-transition: all $transition-duration $transition-style;
  -webkit-transition: all $transition-duration $transition-style;
}
